{% extends 'layouts/admin_base.html.twig' %}

{% block title %}Adresse{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendors/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Adresse</h4>
                <p class="card-description">
                    Enregistrer une nouvelle adresse
                </p>
                <p>{{ form_errors(form) }}</p>
                {{ form_start(form) }}
                <form  method="post" class="forms-sample">
                    {{ form_row(form._token, {'attr':{'class':'hidden'}}) }}
                    <div class="form-group">
                        {{ form_row(form.country, {'attr':{'class':'form-control js-example-basic-single w-100'}}) }}
                    </div>
                    <div class="form-group" id="the-basics">
                        {{ form_row(form.city, {'attr':{'class':'typeahead'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.zipCode, {'attr':{'class':'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.street, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.furtherInformation, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/typeahead.js') }}"></script>
    <script src="{{ asset('assets/js/select2.js') }}"></script>
{% endblock %}
